<footer>
  <div class="grey-footer">
    <div class="wrapper">
      <ul>
        <li><a href="#">Lien 1</a></li>
        <li><a href="#">Lien 2</a></li>
        <li><a href="#">Lien 3</a></li>
      </ul>
      <ul>
        <li><a href="#">Lien 4</a></li>
        <li><a href="#">Lien 5</a></li>
        <li><a href="#">Lien 6</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="wrapper">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Copy right</a></li>
        <li><a href="#">Carte du site</a></li>
      </ul>
    </div>
  </div>
</footer>
