<header>
  <div class="wrapper">
    <div class="logo">
      <a href="/">
        <svg height="100" width="100">
          <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="#000000" />
        </svg>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/formulaire">Formulaire</a>
          <ul>
            <li><a href="#">Sous lien 1</a></li>
            <li><a href="#">Sous lien 2</a></li>
            <li><a href="#">Sous lien 3</a></li>
            <li><a href="#">Sous lien 4</a></li>
            <li><a href="#">Sous lien 5</a></li>
          </ul>
        </li>
        <li><a href="/membres">Membres</a></li>
        <li><a href="#">Lien 3</a></li>
        <li><a href="#">Lien 4</a></li>
      </ul>
    </nav>
  </div>
</header>
